body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  margin: 20px;
}

footer {
  background-color: #2ecc71;
  color: #fff; 
  padding: 10px;
  text-align: center;
}